<h2>Edit Destination</h2>

<form method="POST">
State: <input name="state" value="{{ destination.state }}"><br>
Name: <input name="name" value="{{ destination.name }}"><br>
Hotel Cost: <input name="hotel" value="{{ destination.hotel_cost }}"><br>
Food Cost: <input name="food" value="{{ destination.food_cost }}"><br>
Sightseeing Cost: <input name="sight" value="{{ destination.sightseeing_cost }}"><br>
Image URL: <input name="image" value="{{ destination.image_url }}"><br>
Latitude: <input name="lat" value="{{ destination.lat }}"><br>
Longitude: <input name="lon" value="{{ destination.lon }}"><br>
<button>Update</button>
</form>